#CRAFT-pytorch
*.pyc
*.swp
*.pkl
*.pth
*.hdf5
weights*

#text-detection-ctpn
data/dataset/
__pycache__/
cache/
pretrain/
VOCdevkit2007/
logs/
logs_*/
output/
build/
dist/
checkpoints/
checkpoints_*/
warp-ctc/
.idea/
*.py[cod]
*.c[cod]
*.so
*.swp
*.pb
*.ckpt
text-detection-ctpn/checkpoints_mlt
data/classifier/
data/detector/
data/icdar/
warp-ctc/