workspace/
demo_results/
warp-ctc/

#CRAFT-pytorch
*.pyc
*.swp
*.pkl
*.zip
#*.pth
*.hdf5
weights*
*.pickle

#text-detection-ctpn
data/dataset/
__pycache__/
cache/
pretrain/
VOCdevkit2007/
logs/
logs_*/
build/
dist/
checkpoints/
checkpoints_*/
warp-ctc/
.idea/
*.py[cod]
*.c[cod]
*.so
*.swp
*.pb
*.ckpt